streamlit
pandas
plotly
psutil
requests
flask
numpy
opencv-python
SpeechRecognition
google-generativeai
python-dotenv
streamlit-option-menu
streamlit-lottie
duckduckgo_search
deep-translator
gtts
wikipedia
yfinance
qrcode
uvicorn
fastapi
pdfplumber
PyPDF2
pillow
