streamlit
pandas
plotly
psutil
requests
flask
numpy
opencv-python
SpeechRecognition
google-generativeai
python-dotenv
streamlit-option-menu
streamlit-lottie
duckduckgo_search
deep-translator
wikipedia
yfinance
qrcode
uvicorn
fastapi
pdfplumber
PyPDF2
pillow
openai
reportlab
moviepy==2.1.1
imageio
imageio-ffmpeg
pycountry
langcodes
pyautogui
streamlit-webrtc
av
pyaudio
gtts
pygame
moviepy
