streamlit
pandas
plotly
psutil
pycountry
pillow
reportlab
streamlit-option-menu
PyPDF2
pdfplumber
opencv-python-headless
SpeechRecognition
gtts
requests
numpy
wikipedia
moviepy
imageio
imageio-ffmpeg
diffusers
torch
transformers
accelerate
safetensors
duckduckgo-search
fpdf
streamlit-option-menu
pyjokes
pyttsx3
